
<div  class="example-form">
    <h3 class="header">Registration</h3>
    <div>
        <form [formGroup]="userRegisterForm" (ngSubmit)="onSubmit()" >
          <p>
              <mat-form-field appearance="outline" class="example-half-width">
                <mat-label>Name</mat-label>
                <input matInput  formControlName="name" >

              </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline" class="example-half-width">
                  <mat-label>E-mail</mat-label>
                  <input matInput type="email"  formControlName="email" >

                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="outline" class="example-half-width">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" formControlName="password" >
                </mat-form-field>
              </p>
            <p>
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Bio</mat-label>
                      <textarea matInput formControlName="bio"></textarea>

                </mat-form-field>
              </p>

          <button type="submit" [disabled]="!userRegisterForm.valid" >Submit</button>
        </form>
        </div>




